.CodeMirror {
  border: 1px solid lightgray;
}

#firstRow .CodeMirror {
  height: 170px;
}

#mainContainer {
  padding-top: 20px;
}

#firstRow {
  padding-top: 30px;
}

tbody {
    font-size: 16px;
}

.mono {
  font-family: monospace;
  background-color: #ecf0f3;
}

.source, .opname, li {
  font-family: monospace;
}

#compile {
  margin-top: 20px;
}

#syntaxError {
  margin-top: 10px;
}

#tabs {
  margin-top: 10px;
}

#bytecodeTable {
  margin-top: 10px;
}
#syntaxError {
  background-color: white;
  border: 0;
}
#tabs {
  display: none;
}
