.CodeMirror {
  border: 1px solid lightgray;
}

#firstRow .CodeMirror {
  height: 170px;
}

#mainContainer {
  padding-top: 20px;
}

#firstRow {
  padding-top: 30px;
}

.table {
    font-family: monospace;
    font-size: 12px;
}

#compile {
  margin-top: 20px;
}

#syntaxError {
  margin-top: 10px;
}

#bytecodeTable {
  margin-top: 10px;
}
