/** LAYOUT AND FORMATTING STUFF **/

.CodeMirror {
  border: 1px solid lightgray;
}

#firstRow .CodeMirror {
  height: 170px;
}

#mainContainer {
  padding-top: 20px;
}

#firstRow {
  padding-top: 30px;
}

#compile {
  margin-top: 20px;
}

#syntaxError {
  margin-top: 10px;
  background-color: white;
  border: 0;
}

#tabs {
  margin-top: 10px;
  display: none;
}


/** FORMATTING FOR THE TABLE AND TABS **/

td {
  font-size: 14px;
}

.lineno-cell, .source-cell, .opname-cell {
  font-family: monospace, sans-serif;
}

/* this is applied to snippets of Python code in the bytecode descriptions */
.py-source {
  font-family: monospace, sans-serif;
  background-color: #ecf0f3;
}

#tabs > li {
  font-family: monospace, sans-serif;
}

.hiddenRow {
    padding: 0 !important;
}
