{% extends 'base.html' %}
{% block title %}Byte Me{% endblock %}
{% block body %}
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Byte Me</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container-fluid" style="padding-top:20px" >
  <div class="row">
    <div class="col text-center">
      <form method="POST" action="/" enctype="text/plain" role="form" >
        <div class="form-group">
          <label for="exampleTextarea">Python Code</label>
          <textarea class="form-control" id="exampleTextarea" rows="20">
          </textarea>
        </div>
	<button name="convert" value="Submit" type="submit" class="btn btn-primary">Compile</button>
	<form>
    </div>
    <div class="col">
      <form id = "readonly">
        <div class="form-group">
          <label for="exampleTextarea">Byte Code</label>
          <textarea readonly class="form-control" rows="20">
          </textarea>
        </div>
      </form>
    </div>
  </div>
 
</div>
{% endblock %}
