{% extends 'base.html' %}
{% block title %}Byte Me{% endblock %}

{% block extra_head %}
<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Byte Me</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container-fluid" style="padding-top:20px" >
  <div class="row">
    <div class="col">
      <form id="sourceCodeForm" method="POST" action="/" role="form">
        <div class="form-group">
          <label for="source_code_textarea">Python Code</label>
          <textarea class="form-control" id="source_code_textarea" name="source_code" rows="20">{{ source_code }}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Compile</button>
      </form>
      {% if error_msg %}
      <div>{{ error_msg }}</div>
      {% endif %}
    </div>
    <div class="col text-center">
      <form id = "readonly">
        <div class="form-group">
          <label for="bytecode_textarea">Byte Code</label>
          <textarea readonly class="form-control" id="bytecode_textarea" rows="20">{{ bytecode }}</textarea>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_scripts %}
  <script src="{{ url_for('static', filename='CodeMirror/lib/codemirror.js') }}"></script>
  <script src="{{ url_for('static', filename='CodeMirror/mode/python/python.js') }}"></script>
  <script>
    var my_textarea = document.getElementById("source_code_textarea");
    var editor = CodeMirror.fromTextArea(my_textarea, {lineNumbers: true, mode:"python", smartIndent: true});
  </script>
{% endblock %}
